Core Hugging Face
ecosystemtransformers==4.41.2
datasets==2.19.0
accelerate==0.30.1
evaluate==0.4.2

Deep Learning Framework
torch==2.1.0

Data Handling & Machine Learning
pandas~=2.2.0
numpy~=1.26.0
scikit-learn~=1.4.0

Text Preprocessing & Augmentation
contractions
nlpaug~=1.1.11
nltk
